## Notes
### Initial brainstorming: 
What could be interesting about this dataset?
- Do people tip better on weekends? More likely to be out for the evening, possibly more likely to have a drink and therefore more likely to be generous with a tip?
- Do people tip more if they are part of a larger group? More people to chip in? Social pressure? Or would they be less likely to tip as the blame can be diffused among the group?
- On the other hand, are people likely to tip less if they are on theor own?
- Is there a sex difference in tipping? Why would there be? 
- Similarly, are men or women more likely to pay? Is there a difference in genders paying depending on group size? Cliche that men pay for dates if we look at tables of 2? Would the tips be higher in such cases?
- How is the dataset gendered if there are several people at each table? Presumably the person that pays for the table is the gender recorded.
- Do tips on average make up 10-15% of the bill or do they just round up to the nearest fiver/euro?
- Does tip percentage of the bill grow as the bill does?
- Are smokers more likely to tip? Why would they be/not? Maybe they would tip more as they are exposing staff to their smoking? Probably not enough smoker data to be significant.  
- Are smaller groups more likely to sit in smoking sections? Consideration for the whole group. Would the restaurant have more room for larger groups if they were to get rid of the smoking section? 
- Is there a difference in tips on weekdays versus the weekend? On weekdays would people be more likely to just be grabbing a work lunch? Similarly, are the overall bills lower? - Doesn't have all days of the week, just Thurs-Sun. 
- Which days/mealtimes are busiest? Does this affect the tips? Perhaps the service isn't as great if the place is super busy?
- Is it more likely there are larger groups on weekends as would be assumed?

https://scholarship.sha.cornell.edu/cgi/viewcontent.cgi?referer=&httpsredir=1&article=1036&context=articles
Article from 1984 seeing tipping is related to group size (larger groups tipped less), gender (men tipped more than women), and bill size (larger the per person bill, the lower the tip %). Of course, this is an old article. Would it even still be relevant?

https://www.kaggle.com/ranjeetjain3/seaborn-tips-dataset
Some plotting with tips database

Knowledge gaps in this database that could affect tipping:
- Food quality
- Customer service
- Restaurant atmosphere
- Payment methods (cash v credit)
- Customer demographics
- Length of time customer spent in the restaurant

In [7]:
# Importing libraries.
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
# Load dataset and view sample
tips = sns.load_dataset("tips")
tips.sample(10)

     total_bill   tip     sex smoker   day    time  size
108       18.24  3.76    Male     No   Sat  Dinner     2
32        15.06  3.00  Female     No   Sat  Dinner     2
55        19.49  3.51    Male     No   Sun  Dinner     2
116       29.93  5.07    Male     No   Sun  Dinner     4
239       29.03  5.92    Male     No   Sat  Dinner     3
73        25.28  5.00  Female    Yes   Sat  Dinner     2
37        16.93  3.07  Female     No   Sat  Dinner     3
137       14.15  2.00  Female     No  Thur   Lunch     2
39        31.27  5.00    Male     No   Sat  Dinner     3
206       26.59  3.41    Male    Yes   Sat  Dinner     3

In [9]:
tips.shape

(244, 7)

In [10]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [11]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [18]:
tips.groupby('sex').size()

sex
Male      157
Female     87
dtype: int64

In [13]:
tips.groupby('day').sum()

      total_bill     tip  size
day
Thur     1096.33  171.83   152
Fri       325.88   51.96    40
Sat      1778.40  260.40   219
Sun      1627.16  247.39   216

In [14]:
tips.groupby('time').size()

time
Lunch      68
Dinner    176
dtype: int64

In [16]:
# Add tip percentage column
tip_percent = (tips.tip/tips.total_bill*100).round(0)

In [17]:
# Total bill + tip
bill_tip = tips.tip + tips.total_bill

0      18.00
1      12.00
2      24.51
3      26.99
4      28.20
5      30.00
6      10.77
7      30.00
8      17.00
9      18.01
10     11.98
11     40.26
12     16.99
13     21.43
14     17.85
15     25.50
16     12.00
17     20.00
18     20.47
19     24.00
20     22.00
21     23.04
22     18.00
23     47.00
24     23.00
25     20.15
26     15.37
27     14.69
28     26.00
29     22.65
       ...
214    34.67
215    14.00
216    31.15
217    13.09
218     9.18
219    33.23
220    14.36
221    16.90
222    10.50
223    18.98
224    15.00
225    18.77
226    12.09
227    23.45
228    16.00
229    25.00
230    26.01
231    18.69
232    15.00
233    12.24
234    18.53
235    11.32
236    13.60
237    34.00
238    40.50
239    34.95
240    29.18
241    24.67
242    19.57
243    21.78
Length: 244, dtype: float64